body {
    background: radial-gradient(to bottom,#ffffff, #ffb3d9);
    height:100hv;
}

.wrapper {
    width: 85%;
}

img {
    border: 3px solid #DE5D83;
    border-radius: 10px;
    margin-left:200px;
}

.text-box {
    color: #DE5D83;
    float: right;
}

.text-box h3 {
    color:black; 
}

.text-box ul {
    list-style-type: square;
    color:black
}
